@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default animation for larger screens */
@keyframes scroll-large {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
}

@keyframes scroll-small {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-800%);
    -webkit-transform: translateX(-800%);
    -moz-transform: translateX(-800%);
    -ms-transform: translateX(-800%);
    -o-transform: translateX(-800%);
}
}

.animate-scroll-large {
  animation: scroll-large 10s linear infinite;
}

.animate-scroll-small {
  animation: scroll-small 20s linear infinite;
}

/* Apply different animations based on screen size */
@media (max-width: 500px) {
  .animate-scroll {
    animation: scroll-small 20s linear infinite;
  }
}

@media (min-width: 768px) {
  .animate-scroll {
    animation: scroll-large 10s linear infinite;
  }
}
